*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: myCustomFontRegular;
  src: url("./fonts/static/Inter-Regular.ttf");
}

@font-face {
  font-family: myCustomFontExtraBold;
  src: url("./fonts/static/Inter-ExtraBold.ttf");
}

img {
  object-fit: cover;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: myCustomFontExtraBold;
}

body {
  font-family: myCustomFontRegular;
  margin: 0;
  background-color: #fefdf9;
}

header {
  padding: 1rem;
  background: #fefdf9;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;
}

main {
  margin-top: 4.25rem;
}

.container {
  padding: 1rem;
}

.overlay {
  display: none;

  background-color: hsl(0, 0%, 0%, 0.6);
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
}

body.activeSideMenu {
  overflow: hidden;
}

.overlay.activeSideMenu {
  display: block;
}

.menu.activeSideMenu {
  transform: translateX(0);
}

.home-layout {
  display: grid;
  gap: 2rem;
}

@media (min-width: 1121px) {
  .container {
    max-width: 65%;
    margin-inline: auto;

    padding-top: 0;
  }

  .home-layout {
    grid-template-columns: 1fr 1fr 1fr;
  }

  header {
    position: sticky;
  }

  main {
    margin-top: 1rem;
  }
}
